<?xml version="1.0"?>
<model>
  <name>Y6 coaxial hexacopter</name>
  <version>1.0</version>
  <sdf version="1.5">y6.sdf</sdf>

  <author>
   <name>Andriy Sarabakha</name>
   <email>andriyukr@gmail.com</email>
  </author>

  <description>
    This is a model of the Y6 coaxial hexacopter
  </description>
</model>
